aws {
    accessKey='SJTN13POS2DKH3JUDPYT'
    secretKey='ULyLvgM5f801HrZARWhPAw3qw5nalWYXOqdHqfgh'
    client {
        endpoint = 'https://rgw.ohsu.edu'
        s3PathStyleAccess = true
    }
}

profiles {
    standard {
        process {
            executor = 'slurm'
            withName: 'realignment' {
                cpus = 8
                memory = '64GB'
                time = '35:00:00'
            }
        }
        singularity {
            enabled = true
            autoMounts = true
        }
    }
}
